@model string

@{
    ViewBag.Title = "测试：表单提交 base64 过长被截断";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var base64Str = "";//BASE64字符串
}

<h2>Test15</h2>

<p>@(Model)</p>

@using (Html.BeginForm())
{
    var length = 100;
    for (int i = 1; i <= length; i++)
    {
        <input type="text" name="input@(i)" value="@(i)" />
    }
    <input type="hidden" name="length" value="@(length)" />
    <input type="hidden" name="Base64Str" value="@(base64Str)" />
    
    <input type="submit" value="提交" />
}
