@{
    ViewBag.Title = "测试：编码";

    var href = Url.Content("~/Test/Test13");
}

@section PagePluginStyles{
}
@section PageInlineStyles{
}


<h5>编码</h5>

<a href="@(href)">@(href)</a>


@section PagePluginScripts{
}
@section PageInlineScripts{
}
