
@{
    ViewBag.Title = "测试：条件注释";
}

@section PagePluginStyles{
}
@section PageInlineStyles{
}


<div>
    <button type="button" data-url="http://localhost:41297/api/practice/get" data-type="get" data-cache="false" data-async="true" data-data='{ "cid": "BAMRS0WX", "pid": "1acdf484-3e1a-40e5-a403-849953a27885", "actid": "978b3a1a-7c4e-48fa-ae46-3214f75c5dff", "uid": "xs5anydf1" }'></button>
    <button type="button" data-url="http://localhost:41297/api/practice/startnew" data-type="post" data-cache="false" data-async="true" data-data='{ "cid": "BAMRS0WX", "pid": "1acdf484-3e1a-40e5-a403-849953a27885", "actid": "978b3a1a-7c4e-48fa-ae46-3214f75c5dff", "uid": "xs5anydf1" }'></button>
    <button type="button" data-url="http://localhost:41297/api/practice/goon" data-type="post" data-cache="false" data-async="true" data-data='{ "cid": "BAMRS0WX", "pid": "1acdf484-3e1a-40e5-a403-849953a27885", "actid": "978b3a1a-7c4e-48fa-ae46-3214f75c5dff", "spid": 12, "uid": "xs5anydf1" }'></button>
</div>
<div>
    <button type="button" data-url="http://localhost:41297/api/practice/getproblem" data-type="get" data-cache="false" data-async="true" data-data='{ "cid": "BAMRS0WX", "pid": "1acdf484-3e1a-40e5-a403-849953a27885", "actid": "978b3a1a-7c4e-48fa-ae46-3214f75c5dff", "spid": 12, "prid": "a6c57b03-8bda-4c89-b735-9c29947eb388", "uid": "xs5anydf1" }'></button>
    <button type="button" data-url="http://localhost:41297/api/practice/getproblem" data-type="get" data-cache="false" data-async="true" data-data='{ "cid": "BAMRS0WX", "pid": "1acdf484-3e1a-40e5-a403-849953a27885", "actid": "978b3a1a-7c4e-48fa-ae46-3214f75c5dff", "spid": 12, "prid": "ac079c5f-2980-46fe-81b4-da2296f2068d", "uid": "xs5anydf1" }'></button>
    <button type="button" data-url="http://localhost:41297/api/practice/getproblem" data-type="get" data-cache="false" data-async="true" data-data='{ "cid": "BAMRS0WX", "pid": "1acdf484-3e1a-40e5-a403-849953a27885", "actid": "978b3a1a-7c4e-48fa-ae46-3214f75c5dff", "spid": 12, "prid": "37011736-a613-48ab-927c-54d07d8706f1", "uid": "xs5anydf1" }'></button>
    <button type="button" data-url="http://localhost:41297/api/practice/getproblem" data-type="get" data-cache="false" data-async="true" data-data='{ "cid": "BAMRS0WX", "pid": "1acdf484-3e1a-40e5-a403-849953a27885", "actid": "978b3a1a-7c4e-48fa-ae46-3214f75c5dff", "spid": 12, "prid": "47ca4472-60b8-46cf-9e40-8c5be0c95619", "uid": "xs5anydf1" }'></button>
    <button type="button" data-url="http://localhost:41297/api/practice/getproblem" data-type="get" data-cache="false" data-async="true" data-data='{ "cid": "BAMRS0WX", "pid": "1acdf484-3e1a-40e5-a403-849953a27885", "actid": "978b3a1a-7c4e-48fa-ae46-3214f75c5dff", "spid": 12, "prid": "044b4e85-76f3-442f-bf24-0c6029d90528", "uid": "xs5anydf1" }'></button>
    <button type="button" data-url="http://localhost:41297/api/practice/getproblem" data-type="get" data-cache="false" data-async="true" data-data='{ "cid": "BAMRS0WX", "pid": "1acdf484-3e1a-40e5-a403-849953a27885", "actid": "978b3a1a-7c4e-48fa-ae46-3214f75c5dff", "spid": 12, "prid": "db65f174-cc84-4d22-ace3-de7ca1550c63", "uid": "xs5anydf1" }'></button>
</div>
<div>
    <input type="text" name="spid" value="12" />
    <input type="text" name="prid" value="" />
    <input type="text" name="answer" value="" />
    <button type="button" data-url="http://localhost:41297/api/practice/submit" data-type="post" data-cache="false" data-async="true" data-data='{ "cid": "BAMRS0WX", "pid": "1acdf484-3e1a-40e5-a403-849953a27885", "actid": "978b3a1a-7c4e-48fa-ae46-3214f75c5dff", "spid": 12, "prid": "044b4e85-76f3-442f-bf24-0c6029d90528", "answer": "", "uid": "xs5anydf1" }'></button>
    <button type="button" data-url="http://localhost:41297/api/practice/end" data-type="post" data-cache="false" data-async="true" data-data='{ "cid": "BAMRS0WX", "pid": "1acdf484-3e1a-40e5-a403-849953a27885", "actid": "978b3a1a-7c4e-48fa-ae46-3214f75c5dff", "spid": 12, "uid": "xs5anydf1" }'></button>
</div>


@section PagePluginScripts{
}
@section PageInlineScripts{
    <script>
        $(function () {
            $("button").each(function (index, element) {
                var $this = $(this);
                $this.html($this.data("url")).on("click", function (e) {
                    var $this = $(this);
                    var url = $this.data("url");
                    var type = $this.data("type");
                    var contentType = "application/x-www-form-urlencoded; charset=utf-8";
                    var data = $this.data("data");
                    if (url.indexOf("practice/submit") !== -1) {
                        data.spid = $("input[name='spid']").val();
                        data.prid = $("input[name='prid']").val();
                        data.answer = $("input[name='answer']").val();
                    }
                    if (type === "post") {
                        contentType = "application/json; charset=utf-8";
                        data = JSON.stringify(data);
                    }
                    var settings = {
                        url: url,
                        type: type,
                        cache: $this.data("cache"),
                        async: $this.data("async"),//异步请求
                        contentType: contentType,
                        data: data,
                        dataType: "json",
                        xhrFields: {
                            withCredentials: true
                        },
                        beforeSend: function (jqXHR, settings) {
                            console.log(jqXHR);
                            console.log(settings);
                        },
                        success: function (data, textStatus, jqXHR) {
                            console.log(data);
                            console.log(textStatus);
                            console.log(jqXHR);
                        },
                        error: function (jqXHR, textStatus, errorThrown) {
                            console.log(jqXHR);
                            console.log(textStatus);
                            console.log(errorThrown);
                        },
                        complete: function (jqXHR, textStatus) {
                            console.log(jqXHR);
                            console.log(textStatus);
                        }
                    };
                    $.ajax(settings);
                });
            });
        });
    </script>

}
