
@{
    ViewBag.Title = "Index";
}

@section PagePluginStyles{
}
@section PageInlineStyles{
}


<h2>Index</h2>


@section PagePluginScripts{
}
@section PageInlineScripts{
    <script>
        $(function () {
            var targetUrl = "http://localhost:62640/api/user";
            $.ajax({
                type: "get",
                url: targetUrl,
                //async: true,//异步请求
                cache: false,
                data: { id: 1 },
                dataType: "json",
                beforeSend: function (jqXHR, settings) {
                    console.log(jqXHR);
                    console.log(settings);
                },
                success: function (data, textStatus, jqXHR) {
                    console.log(data);
                    console.log(textStatus);
                    console.log(jqXHR);
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log(jqXHR);
                    console.log(textStatus);
                    console.log(errorThrown);
                },
                complete: function (jqXHR, textStatus) {
                    console.log(jqXHR);
                    console.log(textStatus);
                }
            });
        });
    </script>
}
