
@{
    ViewBag.Title = "Index";
}

@section PagePluginStyles{
}
@section PageInlineStyles{
}


<h2>Index</h2>
<p>Session.SessionID : @(Session?.SessionID)</p>
<p>Session["LoginName"] : @(Session?["LoginName"]?.ToString())</p>


@section PagePluginScripts{
}
@section PageInlineScripts{
    <script>
        $(function () {
            console.log(arguments);
        });
    </script>
}
