
@{
    ViewBag.Title = "Index";
}

@section PagePluginStyles{
}
@section PageInlineStyles{
}


<h2>Index</h2>
<p>Session.SessionID : @(Session?.SessionID)</p>
<p>Session["LoginName"] : @(Session?["LoginName"]?.ToString())</p>
<p>Session["RawUrl"] : @(Session?["RawUrl"]?.ToString())</p>


@section PagePluginScripts{
}
@section PageInlineScripts{
    <script>
        function jsonpCallbackValue() {
            console.log(arguments);
        };
        $(function () {
            console.log(arguments);
            //var settings = {
            //    url: "http://localhost:62640/api/user",
            //    type: "get",
            //    cache: false,
            //    async: true,//异步请求
            //    dataType: "json",
            //    //crossDomain: true,
            //    xhrFields: {
            //        withCredentials: true
            //    },
            //    beforeSend: function (jqXHR, settings) {
            //        console.log(arguments);
            //    },
            //    success: function (data, textStatus, jqXHR) {
            //        console.log(arguments);
            //    },
            //    error: function (jqXHR, textStatus, errorThrown) {
            //        console.log(arguments);
            //    },
            //    complete: function (jqXHR, textStatus) {
            //        console.log(arguments);
            //    }
            //};
            //$.ajax(settings);
            $.ajax({
                url: "http://www.dltest.com:8088/api/user",
                type: "get",
                cache: false,
                async: true,//异步请求
                dataType: "jsonp",
                jsonp: "callback",
                jsonpCallback: "jsonpCallbackValue",
                //crossDomain: true,
                //xhrFields: {
                //    withCredentials: true
                //},
                beforeSend: function (jqXHR, settings) {
                    console.log(arguments);
                },
                success: function (data, textStatus, jqXHR) {
                    console.log(arguments);
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log(arguments);
                },
                complete: function (jqXHR, textStatus) {
                    console.log(arguments);
                }
            });
        });
    </script>
    <script type="text/javascript" src="http://www.dltest.com:8088/api/user?callback=jsonpCallbackValue"></script>
}
