
@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
    //Layout = "~/Views/Shared/_LoginLayout.AceRelease.cshtml";
    ViewBag.Title = "Index";
}

@section PagePluginStyles{
}
@section PageInlineStyles{
}


<h2>Index</h2>


@section PagePluginScripts{
}
@section PageInlineScripts{
}
