<div id="ace-settings-container" class="ace-settings-container">
    <div id="ace-settings-btn" class="ace-settings-btn btn btn-app btn-xs btn-warning">
        <i class="ace-icon fa fa-cog bigger-150"></i>
    </div>

    <div id="ace-settings-box" class="ace-settings-box clearfix open">
        <div class="pull-left width-50">
            <div class="ace-settings-item">
                <input type="checkbox" id="ace-settings-navbar" class="ace" />
                <label for="ace-settings-navbar" class="lbl"> Fixed Navbar</label>
            </div>
        </div><!-- /.pull-left -->

        <div class="pull-left width-50">
            ...
        </div><!-- /.pull-left -->
    </div><!-- /.ace-settings-box -->
</div>