
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<span class="fa fa-home"></span>
<span class="glyphicon glyphicon-home"></span>

<div class="row">
    <span style="font-family:'Open Sans',sans-serif;">我就试试，My name is Duanf!</span>
</div>
