@model List<PriAndWf.Web.Models.TestModel1>

@{
    ViewBag.PageTitle = "测试：测试javascript冒泡";
}

@section PageStyles{
}

<h2>测试javascript冒泡</h2>

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        @if (Model != null)
            {
            <div class="list-group">
                @foreach (var l1 in Model)
                {
                    <div class="list-group-item collapse" data-toggle="collapse" data-target="#collapse@(l1.Id)" role="button" id="collapse@(l1.Id)">
                        <span>@(l1.Name)</span>
                        <div class="btn-group" role="group">
                            <span class="fa fa-cog" data-toggle="dropdown" role="button"></span>
                            <ul class="dropdown-menu">
                                <li><a href="#">编辑</a></li>
                                <li><a href="#">停用</a></li>
                                <li><a href="#">上移</a></li>
                                <li><a href="#">下移</a></li>
                            </ul>
                        </div>
                        <div class="btn-group pull-right" role="group">
                            <span class="fa fa-cog" role="button"></span>
                            <span class="fa fa-cog" role="button"></span>
                            <span class="fa fa-cog" role="button"></span>
                            <span class="fa fa-cog" role="button"></span>
                            <span class="fa fa-cog" role="button"></span>
                        </div>
                        @if (l1.Children != null && l1.Children.Count > 0)
                        {
                            foreach (var l2 in l1.Children)
                            {
                                <div class="list-group-item collapse" data-toggle="collapse" data-target="#collapse@(l2.Id)" role="button" id="collapse@(l2.Id)">
                                    <span>@(l2.Name)</span>
                                    <div class="btn-group" role="group">
                                        <span class="fa fa-cog" data-toggle="dropdown" role="button"></span>
                                        <ul class="dropdown-menu">
                                            <li><a href="#">编辑</a></li>
                                            <li><a href="#">停用</a></li>
                                            <li><a href="#">上移</a></li>
                                            <li><a href="#">下移</a></li>
                                        </ul>
                                    </div>
                                    <div class="btn-group pull-right" role="group">
                                        <span class="fa fa-cog" role="button"></span>
                                        <span class="fa fa-cog" role="button"></span>
                                        <span class="fa fa-cog" role="button"></span>
                                        <span class="fa fa-cog" role="button"></span>
                                        <span class="fa fa-cog" role="button"></span>
                                    </div>
                                    @if (l2.Children != null && l2.Children.Count > 0)
                                    {
                                        foreach (var l3 in l2.Children)
                                        {
                                            <div class="list-group-item collapse" data-toggle="collapse" data-target="#collapse@(l3.Id)" role="button" id="collapse@(l3.Id)">
                                                <span>@(l3.Name)</span>
                                                <div class="btn-group" role="group">
                                                    <span class="fa fa-cog" data-toggle="dropdown" role="button"></span>
                                                    <ul class="dropdown-menu">
                                                        <li><a href="#">编辑</a></li>
                                                        <li><a href="#">停用</a></li>
                                                        <li><a href="#">上移</a></li>
                                                        <li><a href="#">下移</a></li>
                                                    </ul>
                                                </div>
                                                <div class="btn-group pull-right" role="group">
                                                    <span class="fa fa-cog" role="button"></span>
                                                    <span class="fa fa-cog" role="button"></span>
                                                    <span class="fa fa-cog" role="button"></span>
                                                    <span class="fa fa-cog" role="button"></span>
                                                    <span class="fa fa-cog" role="button"></span>
                                                </div>
                                            </div>
                                        }
                                    }
                                </div>
                            }
                        }
                    </div>
                }
            </div>
        }
    </div>
</div>
